* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --background-color: #06050b;
    --colorText: #93a9b7;
    --colorTitle: #ffffff;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--background-color);
}

.hero {
    background-image: url("../images/hero-bg.jpeg");
    height: 100vh;
    background-size: cover;
    background-position: center center;
    Display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    text-align: center;
    padding: 15px 0px;
    position: relative;

}

.gradient-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1;
}


.location {
    font-size: 20px;
    z-index: 2;
    position: relative;
    display: flex;
    align-items: center;

}

.text-primary {
    color: #007BFF;
    margin-left: 15px;
}

.location span {
    color: #959da9;
    margin-left: 5px;

}

.gradient-text {
    background: linear-gradient( #2a9bff, #5a327f);
    /* Gradiente de izquierda a derecha */
    -webkit-background-clip: text;
    /* Clip del fondo al texto */
    -webkit-text-fill-color: transparent;
    /* Hace que el color del texto sea transparente para mostrar el fondo */

}

.title h1,
.title h2 {
    font-size: 100px;
    height: 111px;
    z-index: 2;
    position: relative;

}

.title h2 {
    margin-bottom: 10px;
}

.profession {
    font-size: 25px;
    margin: 40px 0px 10px 0;
    /* Asegura que la profesión esté por encima del overlay */
    z-index: 2;
    position: relative;
}

.description {
    font-size: 25px;
    margin-bottom: 40px;
    z-index: 2;
    position: relative;
    color:#4d5560 ;
}


.buttons {
    margin-bottom: 30px;
}

.btn-primary,
.btn-secondary {
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: 500px;
    transition: all 0.3s ease;
    position: relative;
    z-index: 2;
}

.btn-primary {
    background-color: #007BFF;
    color: black;
    margin-right: 10px;
}

.btn-secondary {
    border: 2px solid #063a59;
    color: white;
    background-color: transparent;
}

.btn-primary:hover,
.btn-secondary:hover {
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.5);
}

.social-media {
    z-index: 2;
    position: relative;
    display: flex; 
    justify-content: center; 
    gap: 20px; 
    margin-top: 30px; 
}
.social-media a {
    margin: 0 10px;
    color: #007BFF;
    transition: all 0.3s ease;
    cursor: pointer;
}

.social-icon {
    background-color: #07060c; 
    border: 1px solid #59517c;
    border-radius: 8px; 
    padding: 10px; 
    display: flex; 
    align-items: center; 
    justify-content: center;
    transition: transform 0.3s; 
}

.social-media a:hover {
    color: #0056b3;
    transform: translateY(-3px);
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.5);
}

.about-me {
    background-color: var(--background-color);
    text-align: center; 
    padding: 50px 20px;
}
.about-me h2 {
    font-size: 36px; 
    margin-bottom: 20px; 
}
.about-description {
    color: var(--colorText);
    font-size: 18px; 
    line-height: 1.6; 
    max-width: 800px; 
    margin: 0 auto;
}

.skills {
    display: flex; 
    justify-content: space-between; 
    margin: 50px 20px; 
}
.skills-column {
    flex: 1;
    margin: 0 10px; 
}
.skills-column h2 {
    font-size: 36px; 
    margin-bottom: 20px; 
}

.skills-column> p {
    color: var(--colorText);
    font-size: 18px; 
    line-height: 1.6; 
    max-width: 800px; 
    margin: 0 auto; 
}
.skill-buttons {
    margin-top: 20px;
}
.skill-button {
    display: inline-block;
    background-color: #15171e; 
    color: #ffffff; 
    border: 1px solid #555;
    border-radius: 10px; 
    padding: 10px 15px;
    margin: 5px; 
    transition: transform 0.3s, box-shadow 0.3s; 
}
.skill-button:hover {
    transform: translateY(-3px); 
    box-shadow: 0 4px 10px rgba(1, 173, 255, 0.5); 
}

.skills-column .skill-box {
   
    border: 1px solid #555; 
    border-radius: 8px;
    padding: 20px 30px; 
    margin-bottom: 30px; 
    transition: transform 0.3s, box-shadow 0.3s; 
    width: 75%;

}

.skill-content{
    display: flex; 
    align-items: center;
}
.skills-column .skill-box:hover {
    transform: translateY(-3px); 
    box-shadow: 0 4px 10px rgba(1, 173, 255, 0.5); 
}
.skills-column .skill-text {
    margin-left: 15px; 
}
.skills-column .skill-text h3 {
    margin-bottom: 10px ; 
    color: #ffffff; 
}
.skills-column .skill-text p {
    margin-bottom: 10px; 
    color: #93a9b7; 
}

.footer {
    color: #ffffff; 
    text-align: center;
    padding: 20px;
    position: relative; 
    bottom: 0;
    width: 100%; /* Ancho completo */
}